<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>homeControl</servlet-name>
        <servlet-class>controller.homeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryControl</servlet-name>
        <servlet-class>controller.categoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControll</servlet-name>
        <servlet-class>controller.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>controller.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerControl</servlet-name>
        <servlet-class>controller.registerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>controller.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>titleControl</servlet-name>
        <servlet-class>controller.titleControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArrangeControl</servlet-name>
        <servlet-class>controller.ArrangeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homecontrol</servlet-name>
        <servlet-class>AdminController.homecontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSearch</servlet-name>
        <servlet-class>AdminController.adminSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindelete</servlet-name>
        <servlet-class>AdminController.admindelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>AdminController.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessUpdate</servlet-name>
        <servlet-class>AdminController.SuccessUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addproduct</servlet-name>
        <servlet-class>AdminController.Addproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartCustomerControl</servlet-name>
        <servlet-class>controller.cartCustomerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPtoCart</servlet-name>
        <servlet-class>controller.addPtoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuanityControl</servlet-name>
        <servlet-class>controller.UpdateQuanityControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartControl</servlet-name>
        <servlet-class>controller.DeleteCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcartdetailControl</servlet-name>
        <servlet-class>controller.addcartdetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteC</servlet-name>
        <servlet-class>controller.DeleteC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryControl</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControll</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerControl</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>titleControl</servlet-name>
        <url-pattern>/title</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArrangeControl</servlet-name>
        <url-pattern>/arrange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homecontrol</servlet-name>
        <url-pattern>/homeadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSearch</servlet-name>
        <url-pattern>/adminsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindelete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessUpdate</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addproduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartCustomerControl</servlet-name>
        <url-pattern>/cartcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPtoCart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuanityControl</servlet-name>
        <url-pattern>/updatequanity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartControl</servlet-name>
        <url-pattern>/deletecartitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcartdetailControl</servlet-name>
        <url-pattern>/addcartdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteC</servlet-name>
        <url-pattern>/deletec</url-pattern>
    </servlet-mapping>
</web-app>
